lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.name
encodings.xml
jsLibraryMappings.xml
node_todo_tut3_controllers_services_node_modules.xml
misc.xml
modules.xml
node-todo-tut3-controllers-services.iml
workspace.xml
